name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: install request
        run: |
           pip install requests
      - name: install dns
        run: |
           pip install dnspython
      - name: Run detector
        run: |
          python main.py
